[Desktop Entry]
Name=Qt Player
StartupWMClass=qtplayer
TryExec=qtplayer
Exec=qtplayer %U
Terminal=false
Icon=qtplayer
Type=Application
Categories=Audio;Video;AudioVideo;Network;
